<robot name="my_simulation_robot">
    <!-- creating the root link -->
    <link name="world"/>

    <!-- adding a fixed joint to attach base of the robot to the world -->
    <joint name="world_to_base" type="fixed">
        <parent link="world"/> <!-- parent link is the world -->
        <child link="base_link"/> <!-- child link is the base of the robot -->
    </joint>

    <!-- creating the vertical robot base link -->
    <link name="base_link">
        <visual> <!-- the base of the robot will be a vertical box -->
            <geometry>
                <box size="0.2 0.2 0.5"/> <!-- box with width 0.2, depth 0.2, and height 0.5 -->
            </geometry>

            <material name="lime"> <!-- lime color for the vertical base -->
                <color rgba="0 1 0 1"/> <!-- lime green -->
            </material>

        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.2 0.5"/> <!-- collision geometry matching the visual -->
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0"/> <!-- mass of the vertical base -->
            <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/> <!-- inertia tensor for the base -->
        </inertial>
    </link>
</robot>
